@model List<ApplyViewModel>
@{
    ViewData["Title"] = "纳新申请";
}

<div class="bg">
    <br />
    <h1 style="text-align:center">部门纳新申请</h1>
    <h3 style="text-align:center;margin-bottom:2%">点击详情报名</h3>
        <table style="width:70%;margin-left:15%;margin-bottom:5%" class="table table-bordered">
            <caption>可选择的部门</caption>
            <thead>
                <tr>
                    <th>部门名称</th>
                    <th>详情</th>
                    <th>纳新人数</th>
                    <th>面试地点</th>
                    <th>面试时间</th>
                    <th>是否报名</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ApplyViewModel a in Model)
                {
                    <tr>
                        <td>@a.DepartName</td>
                        <td><a asp-action="ShowD" asp-route-Sid="@ViewBag.id" asp-route-Did="@a.DepartID" asp-route-Aid="@a.ApplicationID">link</a></td>
                        <td>@a.Count</td>
                        <td>@a.Address</td>
                        <td>@a.Time</td>
                        <td>@Html.DisplayFor(modelItem => a.Enabled)</td>
                    </tr>

                }
            </tbody>
        </table>
        <a asp-action="IndexS" asp-route-id="@ViewBag.id"  style="margin-left:47%;margin-bottom:5%" class="btn btn-primary">返回</a>
</div>

