@model List<ApplyViewModel>
@{
    ViewData["Title"] = "纳新申请";
    Layout = "_LayoutS";
}

<br>
<br>
<br>
<br>
<p>
    <h1 style="text-align:center; color: aliceblue" id="sApply">部门纳新申请</h1>
    <h3 style="text-align:center;margin-bottom:2%; color: antiquewhite">点击详情报名</h3>
    <center>
        <table class="hovertable" width="600">
            <tr>
                <th>部门名称</th>
                <th></th>
                <th>纳新人数</th>
                <th>面试地点</th>
                <th>面试时间</th>
                <th>职位</th>
                <th>是否报名</th>
            </tr>
            @foreach (ApplyViewModel a in Model)
            {
                <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
                    <td>@a.DepartName</td>
                    <td><a asp-action="ShowD" asp-route-Sid="@ViewBag.id" asp-route-Did="@a.DepartID" asp-route-Aid="@a.ApplicationID">详情</a></td>
                    <td>@a.Count</td>
                    <td>@a.Address</td>
                    <td>@a.Time</td>
                    <td>@a.Duty</td>
                    <td>@Html.DisplayFor(modelItem => a.Enabled)</td>
                </tr>

            }
        </table>
    </center>
</p>


