@model ApplicationDetailsViewModel
@{
    ViewData["Title"] = "ApplicationDetails";
    Layout = "_LayoutD";
}
        <br />
        <h1 style="text-align:center;margin-bottom:5%">查看申请</h1>
        <div style="margin-left:43%">
            <img style="margin-bottom:1%;margin-left:5%;width:144px;height:144px" src="~/images/Students//@Model.Stu.ID/picture.jpg" class="img-rounded">
            <p><text style="margin-bottom:3%;width:80%" class="form-control">姓名：@Model.Stu.Name</text></p>
            <p><text style="margin-bottom:3%;width:80%" class="form-control">性别：@Model.Stu.Gender</text></p>
            <p><text style="margin-bottom:3%;width:80%" class="form-control">年级：@Model.Stu.Grade</text></p>
            <p><text style="margin-bottom:3%;width:80%" class="form-control">学院：@Model.Stu.Institute</text></p>
            <p>
                <text>简介：</text>
                <textarea   rows="10">@Model.Stu.Introduction</textarea>
            </p>
            <div style="margin-top:5%;margin-left:8%"  class="btn-group">
                <a asp-action="Agree" asp-route-sid="@Model.Sid" asp-route-did="@Model.Did" class="btn btn-default">同意</a>
                <a asp-action="Reject" asp-route-sid="@Model.Sid" asp-route-did="@Model.Did" class="btn btn-default">拒绝</a>
            </div>
        </div>