@model Department.Models.Activity

@{
    ViewBag.Title = "活动细节";
    Layout = "_LayoutD";
}


<br />
<h1 style="text-align:center;margin-bottom:5%">活动细节</h1>
<div style="margin-left:43%">
    <p>
        <label class="control-label">活动名称：</label>
        <text class="form-control">@Model.Name</text>
    </p>
    <p>
        <label class="control-label">活动地点：</label>
        <text class="form-control">@Model.Actaddress</text>
    </p>
    <p>
        <label class="control-label">活动时间：</label>
        <text class="form-control">@Model.Acttime</text>
    </p>
    <p>
        <label class="control-label">具体情况：</label>
        <text class="form-control">@Model.Actintroduction</text>
    </p>
    <p>
        <div style="margin-left:7%" class="checkbox">
            <label>是否有效 :：@Html.DisplayFor(model => model.Enabled)</label>
            <label style="margin-left:2%"></label>
        </div>
    </p>
   
    <div style="margin-left:8%;margin-top:5%">
        <a asp-action="Edit" asp-route-id="@Model.ID">编辑</a>  |
        <a asp-action="Index" asp-route-id="@Model.DepartID">返回</a>
    </div>
</div>



