@model Department.Models.Activity

@{
    ViewData["Title"] = "活动细节";
}

<div class="bg">
    <br />
    <h1 style="text-align:center;margin-bottom:5%">活动细节</h1>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <text class="form-control" >@Model.Name</text>
        </div>
        <div class="form-group">
            <label asp-for="Actaddress" class="control-label"></label>
            <text class="form-control" >@Model.Actaddress</text>
        </div>
        <div class="form-group">
            <label asp-for="Acttime" class="control-label"></label>
            <text asp-for="Acttime" class="form-control" >@Model.Acttime</text>
        </div>
        <div class="form-group">
            <label asp-for="Actintroduction" class="control-label"></label>
            <textarea rows="5"  class="form-control">@Model.Actintroduction</textarea>
        </div>
        <div class="form-group">
            <div style="margin-left:11%" class="checkbox">
                <label>是否有效 :：@Html.DisplayFor(model => model.Enabled)</label>
            </div>
        </div>
        <div style="padding-bottom:5%" class="form-group">
            <a style="margin-left:15%" asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
            <a asp-action="Index" asp-route-id="@Model.DepartID">返回</a>
        </div>
</div>



