@model Department.Models.Application

@{
    ViewData["Title"] = "删除纳新";
    Layout = "_LayoutD";
}

<br />
<h1 style="text-align:center;margin-bottom:1%">删除纳新</h1>
<h3 style="text-align:center;margin-bottom:4%">你确定要删除吗?</h3>

<div style="margin-left:43%">
    <p>
        <label class="control-label">纳新人数：</label>
        <text class="form-control">@Model.Count</text>
    </p>
    <p>
        <label class="control-label">面试时间：</label>
        <text class="form-control">@Model.Time</text>
    </p>
    <p>
        <label class="control-label">面试地点：</label>
        <text class="form-control">@Model.Address</text>
    </p>
    <text>发布范围</text>
    <text style="margin-left:2%">@Model.Grade</text>
    <text style="margin-left:2%">@Model.Institute</text>
    <p />
    <p>
        <div style="margin-left:7%" class="checkbox">
            <label>是否有效 :：@Html.DisplayFor(model => model.Enabled)</label>
            <label style="margin-left:2%"></label>
        </div>
    </p>
    <div style="margin-left:8%;margin-top:5%">
        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="删除" class="btn btn-default" /> |
            <a asp-action="Index" asp-route-id="@Model.DepartID">返回</a>
        </form>
    </div>
</div>


