@model IEnumerable<Department.Models.Application>

@{
    ViewData["Title"] = "发布纳新";
    Layout = "_LayoutD";
}

    <center>
        <br />
        <p style="margin-bottom:5%">
            <a style="font-size:20px;text-align:center;" asp-action="Create" asp-route-id="@ViewBag.id">新建纳新</a>
        </p>
        <table style="margin-bottom:5%" class="hovertable" width="600">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enabled)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enabled)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">编辑</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">细节</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">删除</a>
                    </td>
                </tr>
            }
        </table>
    </center>