@model IEnumerable<Department.Models.Application>

@{
    ViewData["Title"] = "纳新";
}

<div class="bg">
    <br/>
    <p>
        <a style="font-size:20px" asp-action="Create" asp-route-id="@ViewBag.id">新建纳新</a>
    </p>
    <table style="padding-bottom:10%" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Count)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Institute)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Enabled)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Institute)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enabled)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">编辑</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">细节</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">删除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
